html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: rgb(119, 115, 115);

	header {
		font-size: 2rem;
		color: $primaryColor;
		text-align: center;
		padding-top: 1rem;
	}
	nav {
		display: flex;
		justify-content: center;
		button {
			padding: 0;
			margin: 0;
		}
	}
	ul {
		display: flex;
	}
	ul li {
		list-style-type: none;
		flex-basis: auto;
		padding: 0 1rem;
	}
	svg {
		display: block;
		margin: auto;
	}
}

p {
	color: rgb(53, 45, 45);
	margin: 3% 10%;
}
