html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: orange;

	header {
		font-size: 2rem;
		color: $primaryColor;
		text-align: center;
	}

	// div {
	// 	#root {
	// 		display: block;
	// 		margin: auto;
	// 		height: 98vh;
	// 		// flex-direction: column;
	// 		// justify-content: space-between;
	// 	}
	// }
	ul {
		#menu {
			display: flex;
			flex-direction: row;
			width: 35%;
			justify-content: space-between;
			align-items: center;
		}
	}
	ul li {
		flex-basis: 25%;
	}
}

p {
	color: aqua;
	margin: 3% 10%;
}
